<header class="d-none d-md-block">
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Quai Antique</a>
      <button
        class="navbar-toggler rounded-circle"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carte">La Carte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reserver">Réserver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/galerie">Galerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item" data-show="disconnected">
            <a class="nav-link" href="/connexion">Se connecter</a>
          </li
        </ul>
      </div>
      <div class="dropdown" data-show="connected">
        <button
          class="btn btn-link text-white"
          type="button"
          id="userMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle fs-2"></i>
          <!-- Icône utilisateur -->
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="userMenuButton"
        >
          <li><a class="dropdown-item" href="/compte">Mon compte</a></li>
          <li>
            <a class="dropdown-item" href="/reservations">Mes réservations</a>
          </li>
          <li>
            <a class="dropdown-item" href="" id="btn-signout">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<nav class="navbar bg-dark fixed-top d-md-none">
  <div class="container-fluid">
    <button
      class="btn rounded-circle btn-link text-white"
            style="width: 58px; height: 58px; "
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasUser"
      aria-controls="offcanvasUser"
      
    >
      <i class="bi bi-person-circle" style="font-size: 32px; "></i>
    </button>

    <!-- Offcanvas gauche -->
    <div class="offcanvas offcanvas-start text-bg-dark" id="offcanvasUser" tabindex="-1" aria-labelledby="offcanvasUserLabel" >
      <div class="offcanvas-header">
        <i class="bi bi-person-circle" style="font-size: 32px; "></i>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li><a class="nav-link text-white" data-show="connected" href="/compte">Mon compte</a></li>
          <li><a class="nav-link text-white" data-show="connected" href="/reservations">Mes réservations</a></li>
          <li><a class="nav-link text-white" data-show="connected" href="" id="btn-signout-mobile">Se déconnecter</a></li>
          <li></li><a class="nav-link text-white" data-show="disconnected" href="/connexion">Se connecter</a></li>
          <li></li><a class="nav-link text-white" data-show="disconnected" href="/inscription">S'inscrire</a></li>
        </ul>
      </div>
    </div>
        <a class="navbar-brand text-white" href="#">Quai Antique</a>
        <button
      class="btn  rounded-circle d-flex justify-content-center align-items-center"
          style="width: 55px; height: 55px;"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasMenu"
      aria-controls="offcanvasMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas droite -->
    <div class="offcanvas offcanvas-end text-bg-dark" id="offcanvasMenu" tabindex="-1" aria-labelledby="offcanvasMenuLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white rounded-circle" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between">
        <!-- Navigation -->
        <ul class="navbar-nav gap-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/carte">La Carte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/reserver">Réserver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/galerie">En images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact</a>
          </li>
        </ul>

        <!-- Réseaux sociaux & mentions -->
        <div class="mt-4 flex-column d-column align-items-center text-center">
          <div
            class="d-flex justify-content-center align-items-center gap-3 mb-5"
          >
            <a href="#" class="text-white"
              ><i class="bi bi-facebook fs-1"></i
            ></a>
            <a href="#" class="text-white">
              <img
                src="../images/tripadvisor.svg"
                class="social-icon"
                alt="Tripadvisor"
              />
            </a>
            <a href="#" class="text-white"
              ><i class="bi bi-instagram fs-1"></i
            ></a>
          </div>
          <a href="#mentions" class="text-white-50 small text-decoration-none"
            >Mentions légales</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
