// _custom.scss

// COLORS
// $primary: #8b642d;
// $secondary: #b4ab99;
// $dark: #382c20;
// $black: #292222;

$primary: #f52a2a;
$secondary: #eabfbf;
$dark: #740000;
$black: #3b0101;

// FONTS
$font-family-sans-serif: "Montserrat", sans serif !default;
$font-family-serif: "hind Madurai", serif !default;
