// ---------- NAVBAR ----------

.navbar,
.offcanvas {
  z-index: 1055 !important;
}

.navbar {
  height: 78px;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

.social-icon {
  height: 45px;
  filter: brightness(0) invert(1);
}
